{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!--
Modifi this form and template later
-->

<div class="container">

    <div class="login-wrapper center">
        <h3 class="white-text">{% trans "Login Here" %}</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <h5 class="white-text">{% trans "Don't have an account? Create one " %}<a class="link-color" href="{% url 'register' %}">{% trans "here." %}</a></h5>
            <button type="submit" class="btn btn-success">{% trans "Login" %}</button>

        </form>
    </div>

</div>


{% endblock %}